* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.section-title {
    font-size: 36px;
    font-family: monospace;
    color: #00FF5E;
    text-align: center;
    position: relative;
}

.section-title::before {
    content: "<title> ";
    color: #00FF5E;
}

.section-title::after {
    content: " </title>";
    color: #00FF5E;
}

@media(max-width: 820px) {
    .section-title::before {
        content: "";
        color: #00FF5E;
    }

    .section-title::after {
        content: "";
        color: #00FF5E;
    }
}
